@tailwind base;
@tailwind components;
@tailwind utilities;

#admin{
    border-radius: 50%;
}
.app{
    display:flex;
    width:100%;
    height: 100vh;
    position: relative;
}
.content{
    width:100%;
    height: 100vh;
}
.maxHeight{
height:8rem
}
.minHeight{
height:min-content
}
.Visible{
    display: block;
    margin-top: 2rem;
}
.Unvisible{
    display:none
}
.accordition{
    transition: 0.5s;

}